.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mb-20 {
  margin-bottom: 5rem
}

.mt-28 {
  margin-top: 7rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-auto {
  margin-left: auto
}

.mt-4 {
  margin-top: 1rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mt-14 {
  margin-top: 3.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.ml-20 {
  margin-left: 5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mb-14 {
  margin-bottom: 3.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-1\/2 {
  height: 50%
}

.h-60 {
  height: 15rem
}

.w-1\/2 {
  width: 50%
}

.w-10\/12 {
  width: 83.333333%
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.items-center {
  align-items: center
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-blue-900 {
  --tw-border-opacity: 1;
  border-color: rgb(30 58 138 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-violet-200\/50 {
  background-color: rgb(221 214 254 / 0.5)
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.uppercase {
  text-transform: uppercase
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
